[Unit]
Description=Smashing Dashboard
After=syslog.target network.target

[Service]
Type=simple
Environment=SINATRA_ACTIVESUPPORT_WARNING=false
WorkingDirectory=/dashboard/
ExecStart=/usr/local/bin/smashing start -p 3030
StandardOutput=journal+console
StandardError=journal+console
Restart=on-failure

[Install]
WantedBy=multi-user.target