// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

// ----------------------------------------------------------------------------
// Widget-wifi styles
// ----------------------------------------------------------------------------
.widget-wifi {

  background-color: $background-color;

  .title {
    font-size: 50px;
  }

  p {
    font-size: 25px;
  }

  .ssid {
    font-size: 35px;
  }

  .password {
    font-size: 35px;
    font-family: monospace;
  }

}
