// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #eb9c3c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// widget-twitter styles
// ----------------------------------------------------------------------------
.widget-twitter {

  background-color: $background-color;

  .tweet-container {
    display: none;
    margin-left: auto; 
    margin-right: auto; 
    width: 95%;

    .tweet-item {

      text-align: left; 
      margin-bottom: 25px;

      .tweet-time {
        color: $title-color;
        margin-bottom: 15px;
        font-size: 20px;
      }

      .tweet-user {
        padding-left: 5px;
      }

      .tweet-text {
        font-size: 25px;
        // overflow-wrap: break-word;
        // word-wrap: break-word;
        // -ms-word-break: break-all;
        // word-break: break-word;
        // -ms-hyphens: auto;
        // -moz-hyphens: auto;
        // -webkit-hyphens: auto;
        // hyphens: auto;
      }

    }

  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

}
