twitter_db_path             : "/var/lib/sqlite/latcraft.db"
twitter_query               : "@latcraft OR #latcraft OR latcraft OR cloudopoly OR #cloudopoly"
twitter_consumer_key        : <INSERT YOUR VALUE>
twitter_consumer_secret     : <INSERT YOUR VALUE>
twitter_access_token        : <INSERT YOUR VALUE>
twitter_access_token_secret : <INSERT YOUR VALUE>
yahoo_woe_id                : 854823
yahoo_weather_format        : 'c'
schedule_data_file          : 'https://raw.githubusercontent.com/latcraft/website/master/data/events.json'
github_access_token         : <INSERT YOUR VALUE>
github_organization         : latcraft

google_analytics:
  application_version: 1.0
  application_name: ga-latcraft-dashboard
  service_account_email: <INSERT YOUR VALUE>@developer.gserviceaccount.com
  client_id: <INSERT YOUR VALUE>.apps.googleusercontent.com
  key_file: /etc/latcraft-ga-private.p12
  key_secret: <INSERT YOUR VALUE>
  profile_id: <INSERT YOUR VALUE>
  ga_attributes_today_yml: /etc/latcraft-ga_attributes.yml
  ga_attributes_daily_yml: /etc/latcraft-ga_attributes.yml
  ga_attributes_monthly_yml: /vagrant/config/ga_attributes.yml

