twitter_db_path             : "/var/lib/sqlite/latcraft.db"
twitter_query               : "@latcraft OR #latcraft OR latcraft OR cloudopoly OR #cloudopoly"
twitter_consumer_key        : <INSERT YOUR VALUE>
twitter_consumer_secret     : <INSERT YOUR VALUE>
twitter_access_token        : <INSERT YOUR VALUE>
twitter_access_token_secret : <INSERT YOUR VALUE>
yahoo_woe_id                : 854823
yahoo_weather_format        : 'c'
schedule_data_file          : 'https://raw.githubusercontent.com/latcraft/website/master/data/events.json'
github_access_token         : <INSERT YOUR VALUE>
github_organization         : latcraft