
%script{src: "/assets/cycler.js", type: "text/javascript"}

:javascript
  new Cycler({
    boards: ['devternity1', 'devternity2', 'devternity3', 'devternity4', 'devternity5'],
    duration: 30
    loadAll: false
    width: 1920
    height: 1080
  });
