<% content_for :title do %>DevTernity dashboard #2<% end %>
<div class="gridster">
  <ul>

    <!-- Row #1 -->

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" data-banners="logo6">
      <div data-id="banner" data-view="Banner" style="background-color:#4D3F3E;"></div> 
    </li>                                                                         

    <li data-row="1" data-col="3" data-sizex="4" data-sizey="2">
      <div data-view="Video" data-video="https://www.dropbox.com/s/uupqjkwxgdqzz49/4Finance%20TEAM%202015.mp4?dl=1" data-width="100%"></div>
    </li>

    <!-- Row #2 -->

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1" data-sponsors="askfm 4finance clusterpoint visma accenture zabbix finabay ctco likeit diatom">
      <div data-id="sponsor" data-view="Sponsor" style="background-color:#4D3F3E;"></div>
      <i class="icon-star icon-background"></i>
    </li>

    <!-- Row #3 -->

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="track1" data-view="Track" style="background-color:#4D3F3E;" data-moreinfo="Track 1"></div>    
      <i class="icon-tasks icon-background"></i>
    </li>

    <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="track2" data-view="Track" style="background-color:#4D3F3E;" data-moreinfo="Track 2"></div>    
      <i class="icon-tasks icon-background"></i>
    </li>

    <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="track3" data-view="Track" style="background-color:#4D3F3E;" data-moreinfo="Track 3"></div>    
      <i class="icon-tasks icon-background"></i>
    </li>

  </ul>
</div>