<% content_for :title do %>DevTernity Dashboard<% end %>
<div class="gridster">
  <ul>

    <!-- Row #1 -->

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="facebook_ratings" data-view="Facebook" style="background-color:#4267B2;"></div>
      <i class="fas fa-thumbs-up fa-background"></i>
    </li>

    <!-- Row #2 -->


    <!-- Row #3 -->


  </ul>
</div>