<% content_for :title do %>DevTernity Dashboard<% end %>
<div class="gridster">
  <ul>

    <!-- Row #1 -->

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2" 
        data-width="100%">
      <div data-id="image" 
           data-image="/splash2018.png"
           data-view="Image" 
           style="background-color:#231F20;"></div> 
    </li>                                                                         

    <li data-row="1" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id="twitter_mentions" 
           data-view="Twitter" 
           data-moreinfo="Tweets tagged with #devternity"
           style="background-color:#2EA946;"></div>
      <i class="fab fa-twitter fa-background"></i>
    </li>

    <!-- Row #2 -->

    <!-- empty -->

    <!-- Row #3 -->

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="track1" 
           data-moreinfo="Track 1"
           data-view="Track" 
           style="background-color:#231F20;"></div>    
      <i class="far fa-calendar-alt fa-background"></i>
    </li>

    <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="track2" 
           data-moreinfo="Track 2"
           data-view="Track" 
           style="background-color:#231F20;"></div>    
      <i class="far fa-calendar-alt fa-background"></i>
    </li>

    <li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="track3" 
           data-view="Track" 
           data-moreinfo="Track 3"
           style="background-color:#231F20;"></div>    
      <i class="far fa-calendar-alt fa-background"></i>
    </li>

  </ul>
</div>